Repository ImJamesBarrett/agent-rules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -lc 'markdownlint-cli2'

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,ts,tsx,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.{json,jsonc,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "bash -lc 'markdownlint-cli2'"]
}

chore: release v0.1.1
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, bash -lc 'markdownlint-cli2'

docs: add example output files
  .gitignore
  examples/out/AGENTS.md
  examples/out/CLAUDE.md
Due: prettier --write, bash -lc 'markdownlint-cli2'

docs: clarify per-source validation
  README.md
  agents.config.json
  examples/agents.config.json
  src/cli.ts
  src/core.ts
  tests/cli.test.ts
  tests/core.test.ts
Due: eslint --fix, prettier --write, bash -lc 'markdownlint-cli2'

chore: release v0.2.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, bash -lc 'markdownlint-cli2'

fix: trim rulesDir paths
  src/cli.ts
Due: eslint --fix, prettier --write

feat: support multi-source rulesDir (#1)
  CHANGELOG.md
  README.md
  agents.config.json
  examples/agents.config.json
  package.json
  src/cli.ts
  src/core.ts
  tests/cli.test.ts
  tests/core.test.ts
Due: eslint --fix, prettier --write, bash -lc 'markdownlint-cli2'

feat: honor index order for sections
  src/core.ts
  tests/core.test.ts
Due: eslint --fix, prettier --write

chore: bump v0.3.0
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, bash -lc 'markdownlint-cli2'

chore: clarify section order naming
  src/core.ts
Due: eslint --fix, prettier --write

feat: order sections via index (#2)
  CHANGELOG.md
  README.md
  package.json
  src/core.ts
  tests/core.test.ts
Due: eslint --fix, prettier --write, bash -lc 'markdownlint-cli2'
